@media (min-width: 426px) and (max-width: 768px) {
  .exmp {
    flex-direction: row-reverse;
  }
  .exmp p {
    text-align: justify;
  }
  .icon {
    display: flex;
    flex-direction: column;
  }
  .icon div {
    display: flex;
    justify-content: space-evenly;
  }
  .exp {
    display: flex;
    flex-direction: column;
  }
  .exp13 {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    align-items: center;
    margin: 2vw;
  }
  .exp13 p {
    text-align: left;
  }
  .about {
    width: 15vw;
  }
  .playcircle {
    width: 5vw;
    height: 5vw;
  }
  .Bgimage {
    position: relative;
  }
  .about-thumb2 {
    bottom: 80px;
  }
  .rating {
    width: 10vw;
    height: 10vw;
  }
  .rating p {
    text-align: center;
  }
  .Properties {
    font-size: 1.4vw;
  }
  .detail div {
    width: 7.7vw;
  }
  .places {
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .locations {
    width: 30%;
  }
  .location_link {
    max-width: 100%;
  }
  .location_img {
    width: 30%;
    height: 50%;
  }
  .location img {
    width: 30%;
    height: 30%;
  }
  .location i {
    font-size: 1.5vw;
  }
  .more_location {
    width: 15%;
  }
  .type-link {
    font-size: 2vw;
  }
  .no_of_properties {
    font-size: 2vw;
  }
}
