* {
  padding: 0px;
  margin: 0px;
}

.red {
  color: red;
}
.header {
  background-color: white;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}
.hamburger {
  display: none;
}
.hamburger:hover {
  color: red;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.dropdown_button {
  background-color: transparent;
  color: black;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
}
.dropdown-content a {
  color: black;
  padding: 7px;
  text-decoration: none;
  display: block;
  font-size: 1.2vw;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown_button {
  color: red;
}
.dropdown_button:hover {
  color: red;
}
.menu a:hover {
  color: red;
  border: solid red 1px;
}
.login_button {
  background-color: red;
  border: solid red;
  border-radius: 5px;
  padding: 0.7vw 1vw;
  color: white;
}
.login_button:hover {
  background-color: black;
  border: black;
}
.intro {
  padding: 10vw 0vw;
  text-align: center;
  background-image: url(/IMAGES/hero-section-bg.png);
  background-size: cover;
  color: white;
  max-width: 100%;
}
.intro p {
  margin: 1vw;
}
.intro h1 {
  margin: 1vw;
}
.input {
  width: 50%;
  background-color: white;
  border: solid white;
  border-radius: 10px;
  padding: 1vw;
  justify-self: center;
  display: flex;
  justify-content: space-evenly;
  margin: 2vw;
}
.input input {
  text-align: center;
  width: 24%;
  background-color: transparent;
  border: none;
}
.search_now {
  background-color: red;
  border: solid red;
  border-radius: 10px;
  color: white;
  padding: 0.7vw;
}
.advance {
  background-color: transparent;
  border: none;
  color: white;
}
.exmp {
  max-width: 100%;
  padding: 10vw 2vw;
  display: flex;
  justify-content: space-between;
}
.Bgimage {
  width: 48%;
  position: relative;
}
.about-thumb1 {
  width: 85%;
  height: auto;
}
.about-thumb2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 55%;
}
.rating {
  width: 9vw;
  height: 9vw;
  text-align: center;
  align-content: center;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}
.rating p {
  margin: 1vw;
}
.data {
  padding-top: 5vw;
  width: 48%;
}
.data h1 {
  margin: 2vw 0;
}
.icon {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 2vw 0;
}
.icon div {
  align-items: center;
  text-align: center;
}
.icon img {
  width: 6vw;
  height: 6vw;
}
.exp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2vw 0;
}
.exp13 {
  text-align: center;
  border: dotted 1px grey;
  border-radius: 10px;
  align-content: center;
  width: 10vw;
  height: 9vw;
}
.exp13 h1 {
  margin: 0%;
}
.exmp_last_button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2vw 0;
}
.about {
  width: 8vw;
  padding: 1vw;
  background-color: red;
  border: solid red;
  border-radius: 10px;
  text-align: center;
}
.about a {
  text-decoration: none;
  color: white;
}
.playcircle {
  background-color: #f1f1f1;
  width: 4vw;
  height: 4vw;
  justify-items: center;
  align-content: center;
  border: solid #f1f1f1;
  border-radius: 50%;
}
.latest {
  padding: 8vw 4vw;
  background-image: url(/IMAGES/bg-full-1.png);
  background-size: cover;
}
.latest_one {
  justify-self: center;
  text-align: center;
}
.threeproperties {
  display: flex;
  justify-content: space-between;
}
.Properties {
  width: 30%;
  background-color: white;
  border: solid white;
  border-radius: 10px;
  padding: 1vw;
}
.property_img {
  width: 100%;
  align-self: center;
  margin-bottom: 1vw;
}
.luxury {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
}
.luxury a {
  text-decoration: none;
  color: black;
}
.luxury a:hover {
  color: red;
}
.detail {
  display: flex;
  justify-content: space-evenly;
  margin: 1vw;
}
.detail div {
  width: 6vw;
  background-color: #f1f1f1;
  height: 4vw;
  justify-items: center;
  align-content: center;
}
.owner_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.owner_name_img {
  display: flex;
  align-items: center;
}
.owner_name_img img {
  margin: 1vw;
}
.button {
  display: flex;
}
.button div {
  width: 2.5vw;
  height: 2.5vw;
  background-color: #f1f1f1;
  align-content: center;
  text-align: center;
  margin: 0.5vw;
}
.share:hover,
.plus:hover {
  background-color: red;
  color: white;
}
.buy_by_location {
  background-image: url(/IMAGES/bg-full-2.png);
  padding: 10vw 2vw;
  background-size: cover;
  max-width: 100%;
}
.buy_by_location h1 {
  color: white;
  text-align: center;
  margin: 1vw 0;
}
.buy_by_location h3 {
  color: white;
  text-align: center;
  margin: 1vw 0;
}
.places {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
}
.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: solid #efe1fb 1px;
  border-radius: 10px;
  max-width: 100%;
  padding: 1.5vw;
  color: white;
}
.location_link a {
  text-decoration: none;
}
.location_link i {
  color: red;
  font-size: 1vw;
}
.location_link {
  width: 25vw;
  margin: 2vw;
}
.more_location {
  padding: 1vw;
  background-color: red;
  border-style: solid red;
  border-radius: 5px;
  width: 10%;
  text-align: center;
  justify-self: center;
}
.more_location a {
  text-decoration: none;
  color: white;
}
.more_location:hover {
  background-color: black;
  border: red;
}
.buy_by_types {
  padding: 5vw 2vw;
  background-image: url(/IMAGES/bg-full-3.png);
  background-size: cover;
}
.type_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type_detail div {
  width: 50%;
}
.grp_homes {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0;
}
.homes {
  width: 23%;
  text-align: center;
  position: relative;
}
.type-link {
  text-decoration: none;
  color: black;
}
.logo {
  font-size: 10vw;
  color: red;
  background-color: white;
  padding: 1.5vw;
  margin-bottom: 2vw;
}
.no {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 3vw;
  height: 3vw;
  background-color: #f1f1f1;
  border: solid #f1f1f1;
  border-radius: 50%;
  align-items: center;
  align-content: center;
}
.homes:hover .no {
  background-color: red;
  border-color: red;
  color: white;
}
.no_of_properties {
  margin: 20px;
  color: red;
}
.type-link:hover {
  color: red;
}
.popular_cities {
  padding: 10vw 2vw;
  max-width: 100%;
  text-align: center;
  background-image: url(/IMAGES/bg-full-4.png);
  background-size: cover;
  color: white;
}
.most_popular_cities_heading {
  margin: 30px;
}
.grp-popular-cities {
  display: flex;
  justify-content: space-between;
}
.most_popular_cities {
  width: 19%;
  position: relative;
}
.most_popular_cities img {
  width: 100%;
}
.most_popular_cities_detail {
  position: absolute;
  bottom: 4vw;
  left: 4vw;
  right: 4vw;
}
.most_popular_cities_detail p,
.most_popular_cities_detail h2 {
  margin: 10px;
  color: white;
}
.delivery_text {
  margin: 50px;
}
.delivery {
  text-decoration: none;
  color: red;
}
.delivery:hover {
  text-decoration: underline;
}
.experience {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 80%;
  background-color: white;
  padding: 3vw;
  color: red;
  border: solid white;
  border-radius: 10px;
}
.experience p {
  color: black;
  margin-top: 1.5vw;
}
.contactbox {
  display: flex;
  justify-self: center;
  background-color: #0b2c3d;
  border: solid white 5px;
  border-radius: 10px;
  margin: 5vw;
  padding: 2.5vw;
  width: 75%;
  justify-content: space-between;
}
.quote {
  padding: 1.5vw;
  background-color: red;
  border-style: solid red;
  border-radius: 10px;
}
.quote:hover {
  background-color: black;
  border-color: black;
}
.phone_logo {
  font-size: 2.3vw;
  color: red;
  margin-right: 1vw;
}
.phone_no:hover {
  color: red;
}
.phone_with_logo {
  display: flex;
  align-items: center;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.contact a {
  text-decoration: none;
  color: white;
}
/* phone */
@media (max-width: 426px) {
  .header {
    padding: 1vw;
  }

  .hamburger {
    display: initial;
    background-color: transparent;
    border: none;
  }
  .menu {
    display: none;
  }
  .intro {
    font-size: 2vw;
  }
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
  .input input {
    margin: 1vw;
    width: 100%;
  }
  .search_now {
    margin: 2vw;
    font-size: 2.5vw;
  }
  .advance {
    font-size: 2vw;
  }
  .exmp {
    display: block;
    max-width: 100%;
    position: relative;
  }
  .exmp {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .data {
    width: 100%;
  }
  .data h3 {
    text-align: center;
  }
  .data h1 {
    text-align: center;
  }
  .data p {
    text-align: justify;
    margin: 0 7vw;
  }
  .icon {
    display: flex;
    flex-direction: column;
  }
  .icon div {
    display: flex;
    justify-content: space-evenly;
  }
  .icon img {
    width: 15vw;
    height: 15vw;
  }
  .exp {
    display: flex;
    flex-direction: column;
  }
  .exp13 {
    height: 30vw;
    width: 40vw;
    justify-items: center;
    align-content: center;
    margin: 7vw;
  }
  .ul {
    margin: 7vw 0;
  }
  .about {
    width: 30vw;
    display: flex;
    flex-direction: column;
  }
  .playcircle {
    width: 15vw;
    height: 15vw;
  }
  .Bgimage {
    width: 100%;
    margin: 10vw 0;
  }
  .rating {
    width: 20vw;
    height: 20vw;
  }
  .about-thumb2 {
    position: absolute;
    bottom: 0;
  }
  .rating {
    text-align: center;
  }
  .latest {
    padding: 2vw;
    justify-items: center;
  }
  .latest_one {
    font-size: 3vw;
  }
  .threeproperties {
    display: flex;
    flex-direction: column;
    padding: 0%;
  }
  .Properties {
    width: 96%;
    margin: 2vw 0;
    padding: 1.5vw;
    height: auto;
  }
  .detail {
    display: none;
  }
  .button div {
    width: 7vw;
    height: 7vw;
  }
  .buy_by_location {
    max-width: 100%;
    padding: 8vw;
    font-size: 3vw;
  }
  .places {
    display: block;
    justify-items: center;
  }
  .location_img {
    display: none;
  }
  .locations {
    width: 100%;
  }
  .location_link {
    width: 80vw;
    margin: 4vw 0;
  }
  .location {
    padding: 4vw;
  }
  .location_link i {
    font-size: 4vw;
  }
  .more_location {
    width: 25vw;
    padding: 3vw;
  }
  .type_detail {
    display: block;
    width: 100%;
    text-align: center;
  }
  .type_detail div {
    width: 100%;
    margin: 2vw;
  }
  .type_detail p {
    text-align: justify;
    margin: 2vw;
  }
  .grp_homes {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 5vw 3vw;
    gap: 5vw;
  }
  .homes {
    width: 100%;
  }
  .logo {
    padding: 3vw;
  }
  .logo i {
    font-size: 20vw;
  }
  .no {
    width: 5vw;
    height: 5vw;
  }
  .type-link {
    font-size: 3vw;
  }
  .no_of_properties {
    font-size: 3vw;
  }
}
/* popular cities */
.grp-popular-cities{
  display: block;
  justify-self: center;
  justify-content: center;
}
.most_popular_cities{
  width: 100%;
  margin: 3vw 0;
}
.most_popular_cities_detail{
  font-size: 7vw;
}
/* tablet */
@media (min-width: 426px) and (max-width: 768px) {
  .exmp {
    flex-direction: row-reverse;
  }
  .exmp p {
    text-align: justify;
  }
  .icon {
    display: flex;
    flex-direction: column;
  }
  .icon div {
    display: flex;
    justify-content: space-evenly;
  }
  .exp {
    display: flex;
    flex-direction: column;
  }
  .exp13 {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    align-items: center;
    margin: 2vw;
  }
  .exp13 p {
    text-align: left;
  }
  .about {
    width: 15vw;
  }
  .playcircle {
    width: 5vw;
    height: 5vw;
  }
  .Bgimage {
    position: relative;
  }
  .about-thumb2 {
    bottom: 80px;
  }
  .rating {
    width: 10vw;
    height: 10vw;
  }
  .rating p {
    text-align: center;
  }
  .Properties {
    font-size: 1.4vw;
  }
  .detail div {
    width: 7.7vw;
  }
  .places {
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .locations {
    width: 30%;
  }
  .location_link {
    max-width: 100%;
  }
  .location_img {
    width: 30%;
    height: 50%;
  }
  .location img {
    width: 30%;
    height: 30%;
  }
  .location i {
    font-size: 1.5vw;
  }
  .more_location {
    width: 15%;
  }
  .type-link {
    font-size: 2vw;
  }
  .no_of_properties {
    font-size: 2vw;
  }
}
